{
    "semi": true,             // ставить ; в конце строк
    "singleQuote": true,      // использовать ' вместо "
    "tabWidth": 2,            // отступы в 2 пробела
    "useTabs": false,         // использовать пробелы, а не табы
    "trailingComma": "es5",   // запятая в конце объектов/массивов (es5-совместимо)
    "bracketSpacing": true,   // пробелы между скобками: { foo: bar }
    "arrowParens": "avoid",   // скобки у стрелочных функций: x => x
    "printWidth": 80          // максимальная длина строки
  }